### OS-specific ###
.DS_Store
Thumbs.db

### Node / JavaScript ###
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

### Build & bundles ###
dist/
build/
*.zip
*.crx

### Logs ###
logs/
*.log
*.log.*

### Environment & secrets ###
.env
.env.*

### Editor / IDE ###
.vscode/
.idea/
*.swp
*.swo

